<% # articls index page %>
<h1 class='text-center'>Listing all Articles</h1>

<div class='text-center'>
  <%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>
<div class='text-center'>
  <%= will_paginate %>
</div>